<section class="contact">
  <h2>Contact form</h2>

  <form method="post" action="/contact#contact_form">
    <input type="text" name="contact[name]" placeholder="Name" required>
    <input type="email" name="contact[email]" placeholder="Email" required>
    <input type="text" name="contact[phone]" placeholder="Phone number">
    <textarea name="contact[body]" placeholder="Comment"></textarea>

    <button type="submit">Send</button>
  </form>
</section>
