<footer class="footer">

  <div>
    <h4>Email signup</h4>
    <input type="email" placeholder="Enter email">
    <button>Sign up</button>
  </div>

  <div>
    <h4>Information</h4>
    <p>Search</p>
    <p>About</p>
  </div>

  <div>
    <h4>Contact</h4>
    <p>support@email.com</p>
  </div>

</footer>
